<!DOCTYPE html>
<html lang="de">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}TimeVue - smarte Zeiterfassung{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}
    {{ encore_entry_link_tags('css/app') }}
    {{ encore_entry_link_tags('js/app') }}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
{% endblock %}
{{ encore_entry_script_tags('js/app') }}
</body>
</html>